{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">BoW NLTK</h1>
        <p class="lead">Реализация модели текста "мешок слов" с помощью Python-библиотеки NLTK.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_new' %}"
            role="button">Построить "мешок слов"</a>
                        <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}"
            role="button">Список "мешков"</a>
        </p>
    </div>

{% endblock content %}
